# macOS System Files
.DS_Store

# Go Builds & Binaries
bin/
*.exe
*.out
*.test
vendor/

# Environment Variables (Security)
.env

# IDEs (JetBrains/DataGrip metadata)
.idea/

firebase-credentials.json


REPORT.md